.todoItems {
  font-size: 1.8rem;
  display: flex;
  padding: 12px;
  flex-wrap: wrap;
}
/* 
.todoItems span {
  font-size: 1.6rem;
} */

.todoItems label {
  flex: 7.5;
  background-color: aliceblue;
  color: #2c2c2c;
  padding: 8px;
  border-radius: 8px 0 0 8px;
}

.todoItems button {
  border-radius: 0 8px 8px 0;
  border: none;
  background-color: #973030;
  color: #efefef;
  flex: 1;
  padding: 8px;
}

.todoItems button:hover {
  cursor: pointer;
}
