.form-todo {
  display: flex;

  margin: 12px 4px 24px;
  flex-wrap: wrap;
}

.form-todo input {
  border-radius: 5px 0 0 5px;
  padding: 4px;
  border: none;
  flex: 1 1 auto;
  font-size: 1.6rem;
}

.form-todo button {
  border-radius: 0 5px 5px 0;
  border: none;
  background-color: #e7d3b8;
  color: white;
  padding: 4px;
  flex: 1 1 auto;
  font-size: 1.6rem;
}

.form-todo button:hover {
  background-color: #c4a378;
  cursor: pointer;
}
