.todoForm {
  width: 100%;
}

.form-todo {
  display: flex;

  margin: 12px 12px 24px;
  flex-wrap: wrap;
}

.form-todo input {
  border-radius: 8px 0 0 8px;
  padding: 12px;
  border: none;
  flex: 2 1 auto;
  font-size: 1.6rem;
}

.form-todo button {
  border-radius: 0 8px 8px 0;
  border: none;
  background-color: #e7d3b8;
  color: white;
  padding: 12px;
  flex: 1 1 0;
  font-size: 1.6rem;
}

.form-todo button:hover {
  background-color: #c4a378;
  cursor: pointer;
}
