* {
  font-size: 56.2%;
}

.container {
  padding-top: 80px;
  background-color: #d4d454;
  color: #fefefe;
  height: 100vh;
}

.flex-container {
  max-width: 500px;
  margin: auto;
}

.flex-container > div {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.container h1 {
  display: inline-block;
  width: 100%;
  text-align: center;
  font-size: 3.5rem;
}
